:root {
    --primary-red: #ff2021;
    --primary-orange: #ff6200;
    --text-light: #fff7f2;
    --base-white: #f9f9f9;
    --background-black: #000000;
    --background-dark-grey: #1a1a1a;
    --background-card: #1f1f1f;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat";
    line-height: 1.5;
    color: var(--text-light);
    background-color: var(--background-dark-grey);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

#header-title{
    text-align: center;
}

#header-title-anchor{
    text-decoration: none;
    color: var(--base-white);
}

#header-title-anchor> h1{
    font-weight: 500;
    margin-bottom: -1.25vh;
    padding: -5vh;
}

#header-title-anchor > h2{
    font-weight: 300;
    margin-top: -2vh;
}

/* HEADER */
header {
    padding: 20px 0;
    background-color: var(--background-black);
    border-bottom: 1px solid var(--background-card);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--base-white);
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav ul li:hover {
    color: var(--primary-red);
}

/* HERO SECTION */
.hero {
    height: 60vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), var(--background-black));
    align-items: flex-end;
    padding-bottom: 50px;
}

/* ABOUT SECTION */
.about {
    padding: 80px 0;
    background-color: var(--background-black);
}

.about-content {
    display: flex;
    align-items: center;
    gap: 60px;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--base-white);
    font-weight: 800;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: var(--base-white);
    line-height: 1.8;
}

.profile-img {
    width: 350px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(170, 108, 0, 0.849);
}